<style>
.demo-form-inline .el-input {
  --el-input-width: 220px;
}

.demo-form-inline .el-select {
  --el-select-width: 220px;
}
</style>
<script setup lang="ts">
import {Modal} from 'flowbite';
import type {ModalOptions, ModalInterface} from 'flowbite';
import type {InstanceOptions} from 'flowbite';
import {ref, onMounted} from 'vue';

const modal = ref<ModalInterface | null>(null);

const modalOptions: ModalOptions = {
  placement: 'bottom-right',
  backdrop: 'dynamic',
  backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
  closable: true,
  onHide: () => {
    console.log('modal is hidden');
  },
  onShow: () => {
    console.log('modal is shown');
  },
  onToggle: () => {
    console.log('modal has been toggled');
  },
};

const instanceOptions: InstanceOptions = {
  id: 'popup-modal',
  override: true
};

onMounted(() => {
  const $modalElement: HTMLElement | null = document.querySelector('#default-modal');
  if ($modalElement) {
    modal.value = new Modal($modalElement, modalOptions, instanceOptions);
  } else {
    console.error('Modal element with ID "default-modal" not found.');
  }
});

const toggleModal = () => {
  if (modal.value) {
    modal.value.toggle();
  } else {
    console.error('Modal instance not initialized.');
  }
};

const hideModal = () => {
  if (modal.value) {
    modal.value.hide();
  } else {
    console.error('Modal instance not initialized.');
  }
};

import {reactive} from 'vue'

const formInline = reactive({
  user: '',
  region: '',
  date: '',
})

const onSubmit = () => {
  console.log('submit!')
}

</script>
<template>


  <!-- Modal toggle -->
  <button

    @click="toggleModal"
    data-modal-target="large-modal" data-modal-toggle="large-modal"
    class="block w-full md:w-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
  >
    Toggle modal

  </button>

  <!-- Main modal -->
  <div
    id="default-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1.5rem)] max-h-full"
  >
    <!-- Modal content -->
    <div class="relative p-100 w-full max-w-7xl max-h-72">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          "(디지털컨버젼스)JAVA기반 스마트웹&앱 개발자 양성_A과정" 시험과목헌황
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          </h3>
          <button
            @click="hideModal"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"

          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 md:p-4 space-y-6">
          "평가1" 평가 기본정보 입력
          <div class="bg-gray-200 w-50 h-1 mt-3 "></div>
          <div>
            <div class="flex justify-between">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-form-item label="평가선택">
                <el-select
                  v-model="formInline.region"
                  placeholder=""
                  clearable>
                  <el-option label="Zone one" value="shanghai"/>
                </el-select>
              </el-form-item>
            </el-form>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-form-item label="평가유형">
                <el-select
                  v-model="formInline.region"
                  placeholder=""
                  clearable>
                  <el-option label="Zone one" value="shanghai"/>
                </el-select>
              </el-form-item>
            </el-form>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-form-item label="능력단위수준">
                <el-input v-model="formInline.user" placeholder="" clearable/>
              </el-form-item>
            </el-form>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-form-item label="능력단위수준">
                <el-input v-model="formInline.user" placeholder="" clearable/>
              </el-form-item>
            </el-form>
          </div>
          </div>



          <div>
            <div class="flex justify-between">
              <el-form :inline="true" :model="formInline" class="demo-form-inline">

                <el-form-item label="평가일시">
                  <el-input v-model="formInline.user" placeholder="" clearable/>
                </el-form-item>
              </el-form>
              <!--구분선-->
              <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="문항 수">
                  <el-input v-model="formInline.user" placeholder="" clearable/>
                </el-form-item>
              </el-form>
              <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="총 배점">
                  <el-input v-model="formInline.user" placeholder="" clearable/>
                </el-form-item>
              </el-form>
              <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="훈련교사">
                  <el-select
                    v-model="formInline.region"
                    placeholder=""
                    clearable>
                    <el-option label="Zone one" value="shanghai"/>
                  </el-select>
                </el-form-item>
              </el-form>
            </div>
          </div>


        </div>

        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">

          <button
            @click="hideModal"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            수정하기
          </button>
          <button
            @click="hideModal"
            type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            닫기
          </button>
        </div>
      </div>
    </div>
  </div>

</template>
