<script setup lang="ts">
import {  } from "vue";
import { DatatableColumn, DatatableData, TwButton,TwDatatableServer } from "vue3-tailwind";
import {isProduction} from "std-env";
const data = reactive({
  column: [
    {
      label: "번호",
      field: "brand",
      width: "300px",
      sortable: true,
    },
    {
      label: "이름",
      field: "category",
      width: "500px",
      sortable: true,
    },
    {
      label: "강사id",
     field: "description",
      width: "200px",
      sortable: true,
    },
    {
      label: "비고",
     field: "action",
      width: "500px",
      sortable: false,
    },
  // limit: 10, 보여지는 리스트 수
  //   리스트 간격 offset: 10,

  ] as Array<DatatableColumn>,


  data:
    [
      {brand:"d",
        category: "카테고리2",
        description: "설명2",
        action: "액션2"}] as Array<DatatableData>,

  limit: 10,
  offset: 1,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});




// 테이블에서 정렬할 때 호출하는 함수

const sortClick = (event: string) => {
  const sortBy = data.sortBy;
  const sortType = data.sortType;
  const sortByNew = event;
  const sortTypeNew =
    event === sortBy ? (sortType === "asc" ? "desc" : "asc") : "asc";
  data.sortBy = sortByNew;
  data.sortType = sortTypeNew;
};

</script>

<template>
  <div>
    <h2 class="text-3xl font-bold">담당 강사 등록</h2>
<!--    글자 크기-->
    <hr class="my-2 border dark:border-gray-700" />
    <TwDatatableServer
      :data="data.data"
      v-model:search="data.search"
      v-model:limit="data.limit"
      v-model:offset="data.offset"
      v-model:selected="data.selected"
      v-model:sort-by="data.sortBy"
      v-model:sort-type="data.sortType"
      :column="data.column"
      :setting="data.setting"
      @on-sort-change="sortClick"
    >
<!--      비고칸에 수정하기, 삭제하기 버튼-->

      <template #row="{ column, data }">
        <td v-for="(column, index) in column" :key="index">
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'category'">
          {{ data.category }}
        </template>
        <template v-if="column.field === 'description'">
          {{ data.description }}
        </template>
        <template v-if="column.field === 'action'">
          <div class="flex gap-2 justify-center">
            <TwButton variant="primary" class="border border-gray-900">
              수정하기
            </TwButton>
            <TwButton variant="danger"> 등록하기 </TwButton>

          </div>
        </template>
        </td>
      </template>

      <template #empty>
        <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
      </template>
    </TwDatatableServer>
  </div>

    <hr class="my-2 dark:border-gray-700" />
</template>
