<template>
  <div>
    <h2 class="text-2xl font-bold">수강 관리</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <div class="overflow-x-auto">

      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
        <tr>
          <th v-for="col in data.column" :key="col.field"
              @click="sortClick(col.field)"
              :class="{ 'cursor-pointer': col.sortable }"
              class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            {{ col.label }}
          </th>
          <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            관리
          </th>
        </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
        <tr v-for="(item, index) in data.data" :key="index" class="bg-white dark:bg-gray-800">
          <td v-for="col in data.column" :key="col.field" class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-gray-900 dark:text-gray-200">
            <div><NuxtLink to="/">{{ item[col.field] }}</NuxtLink></div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap text-right text-sm leading-5 font-medium">
            <TwButton @click="handleEdit(item)" variant="primary" class="mr-2">수정하기</TwButton>

            <TwButton @click="handleDelete(index)" variant="danger">삭제하기</TwButton>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="bg-white dark:bg-gray-800 text-center w-full" v-if="data.data.length === 0">No Data</div>
    </div>
    <hr class="my-2 dark:border-gray-700" />
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { DatatableColumn, DatatableData, TwButton } from "vue3-tailwind";

const data = ref({
  column: [
    {
      label: "번호 ",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "과정명 ",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "수강인원 ",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "과정담당교사 ",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육대상",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "수강신청기간",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육일수",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육기간",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "NCS수준",
      field: "description",
      width: "400px",
      sortable: true,
    },


  ] as Array<DatatableColumn>,

  data: [
    { brand: " (디지털컨버전스)\n" +
        "JAVA웹&앱\n" +
        "개발자양성_A", category: "ㅇ", description: "문밀임 " },
    { brand: "(디지털컨버전스)\n" +
        "JAVA웹&앱\n" +
        "개발자양성_A", category: "Electronics", description: "Galaxy" },
    { brand: "(디지털컨버전스)\n" +
        "JAVA웹&앱\n" +
        "개발자양성_A", category: "Apparel", description: "Shoes" },
    { brand: "(디지털컨버전스)\n" +
        "JAVA웹&앱\n" +
        "개발자양성_A", category: "Apparel", description: "Sneakers" },
    { brand: "(디지털컨버전스)\n" +
        "JAVA웹&앱\n" +
        "개발자양성_A", category: "Electronics", description: "PlayStation" }
  ] as Array<DatatableData>,
  limit: 10,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const sortClick = (field: string) => {
  const sortBy = data.value.sortBy;
  const sortType = data.value.sortType;
  const sortByNew = field;
  const sortTypeNew = field === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc';
  data.value.sortBy = sortByNew;
  data.value.sortType = sortTypeNew;
};

const handleEdit = (item: DatatableData) => {
  console.log("Edit item:", item);
};

const handleDelete = (index: number) => {
  console.log("Delete item at index:", index);
};
</script>
