<template>
  <div>
    <h2 class="text-2xl font-bold">관리자용 페이지</h2>
    <div>담당강사등록</div>


    <hr class="my-5 border dark:border-gray-700"/>

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
        <tr>
          <th v-for="col in data.column" :key="col.field"
              @click="sortClick(col.field)"
              :class="{ 'cursor-pointer': col.sortable }"
              class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            {{ col.label }}
          </th>
          <th
            class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Action
          </th>

        </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
        <tr v-for="(item, index) in data.data" :key="index" class="bg-white dark:bg-gray-800">
          <td v-for="col in data.column" :key="col.field"
              class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-gray-900 dark:text-gray-200">
            {{ item[col.field] }}
          </td>
          <td class="px-8 py-4 whitespace-nowrap text-right text-sm leading-8 font-medium">

            <TwModal backdrop="static" :full-height="false">

              <template #trigger>
                <TwButton @click="handleEdit(item)" variant="outline-light" class="mr-3">수정하기</TwButton>
              </template>
              <template #header>
                <div>수정하기</div>
              </template>
              <template #body>
                <div>
                  훈련생 일괄 수정 하시겠습니까?
                </div>
              </template>
              <template #footer>

                <div class="modal-button">
                  <TwButton variant="secondary">
                    삭제
                  </TwButton>
                </div>
                <div class="cancel-button">
                  <div class="flex justify-between">
                  <TwButton variant="secondary">
                    취소
                  </TwButton>
                </div>
                </div>
              </template>

            </TwModal>
            <TwModal backdrop="static" :full-height="false">
              <template #trigger>
                <TwButton @click="handleEdit(item)" variant="outline-light" class="mr-3">삭제하기</TwButton>
              </template>
              <template #header>
                <div>수정하기</div>
              </template>
              <template #body>
                <div>
                  훈련생 일괄 수정 삭제 하시겠습니까?
                </div>
              </template>
              <template #footer>
                <div class="modal-button">
                  <TwButton variant="secondary">
                    삭제
                  </TwButton>
                </div>
                <div class="cancel-button">
                  <TwButton variant="secondary">
                    취소
                  </TwButton>
                </div>
              </template>

            </TwModal>

          </td>
        </tr>
        </tbody>
      </table>
      <div class="bg-white dark:bg-gray-800 text-center w-full" v-if="data.data.length === 0">No Data</div>
    </div>
    <hr class="my-2 dark:border-gray-700"/>


  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {DatatableColumn, DatatableData, TwButton, TwModal} from "vue3-tailwind";

const data = ref({

  column: [
    {
      label: "번호 ",
      field: "brand",
      width: "400px",
      sortable: true,

    },
    {
      label: "이름 ",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "강사 id ",
      field: "description",
      width: "400px",
      sortable: true,
    },


  ] as Array<DatatableColumn>,

  data: [
    {brand: "1 ", category: "김승희공쥬", description: "123456 "},
    {brand: "2", category: "윤진베베", description: "Galaxy"},
    {brand: "3", category: "Apparel", description: "Shoes"},
    {brand: "4", category: "Apparel", description: "Sneakers"},
    {brand: "5", category: "Electronics", description: "PlayStation"}
  ] as Array<DatatableData>,
  limit: 10,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const sortClick = (field: string) => {
  const sortBy = data.value.sortBy;
  const sortType = data.value.sortType;
  const sortByNew = field;
  const sortTypeNew = field === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc';
  data.value.sortBy = sortByNew;
  data.value.sortType = sortTypeNew;

};

const handleEdit = (item: DatatableData) => {
  console.log("Edit item:", item);
};

const handleDelete = (index: number) => {
  console.log("Delete item at index:", index);
};
</script>
