<script setup lang="ts">

import {TwButton} from "vue3-tailwind";

const isOpen = ref(false);


const toggleMenu = () => {
  isOpen.value = !isOpen.value;
};
</script>

<template>


  <h2>훈련일지</h2>
  <div class="bg-gray-200 w-50 h-1 mt-3"></div>
  <div class="relative inline-block text-right m-1">
    <div>
      <button type="button"
              class="inline-flex gap-x-2.5 bg-white px-12 py-2 text-xm font-semibold text-gray-900 shadow-sm ring-gray-300 hover:bg-gray-50"
              id="menu-button" aria-expanded="false" aria-haspopup="true" @click="toggleMenu">
        과정명 선택
        <svg class="-mr-1 h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"/>
        </svg>
      </button>
    </div>
    <!-- Dropdown menu -->
    <div v-if="isOpen"
         class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-2" role="none">
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Java 웹
          앱 개발 a반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">포토샵
          반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">auto
          cad반 </a>
      </div>

    </div>
  </div>
  <div class="bg-gray-200 w-50 h-1 mt-3"></div>
  <!--  단락선 구분하기-->
  <div class="flex flex-row-reverse mt-2">
    <TwButton class="m-1">훈련 날짜</TwButton>
    <TwButton class="m-1">시간표 내용 가져오기</TwButton>
  </div>


  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-5">

    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

    <tr>
      <th scope="col" class="px-6 py-3">
        재적
      </th>
      <th scope="col" class="px-6 py-3">
        출석
      </th>
      <th scope="col" class="px-6 py-3">
        결석
      </th>
      <th scope="col" class="px-6 py-3">
        지각
      </th>
      <th scope="col" class="px-6 py-3">
        조퇴
      </th>

    </tr>
    </thead>


    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

      <td class="px-6 py-4">
        17
      </td>
      <td class="px-6 py-4">
        0
      </td>
      <td class="px-6 py-4">
        0
      </td>
      <td class="px-6 py-4">
        0
      </td>
      <td class="px-6 py-4">
        0
      </td>
    </tr>
    </tbody>
  </table>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2 ">

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <td class="m-5 h-20">훈련사항</td>
      <div class="bg-gray-200 w-50 h-1 mt-3"></div>
      <tr>
        <th scope="col" class="px-6 py-3">
          교시
        </th>
        <th scope="col" class="px-6 py-3">
          담당교사
        </th>
        <th scope="col" class="px-6 py-3">
          훈련과목
        </th>
        <th scope="col" class="px-6 py-3">
          훈련내용
        </th>

      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          1교시
        </th>
        <td class="px-6 py-4">
          문미림강사님
        </td>
        <td class="px-6 py-4">
          (JAVA)웹&앱
        </td>
        <td class="px-6 py-4">
          진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.
        </td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          2교시
        </th>
        <td class="px-6 py-4">
          문미림강사님
        </td>
        <td class="px-6 py-4">
          (JAVA)웹&앱
        </td>
        <td class="px-6 py-4">
          진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="py-3  ">
    <div>
      <TwButton class="flex flex-row-reverse mt-2 ">훈련사항 추가</TwButton>

    </div>
    <div class="bg-gray-200 w-50 h-1 mt-3"></div>
    <div class=" relative overflow-x-auto shadow-md sm:rounded-lg ">
      <table class="w-full text- text-left rtl:text-right text-white-500 dark:text-gray-400 h-20">

        <tr>]
          <th scope="col" class="px-20 py-3 flex flex-nowrap">
            훈련기관
          </th>
          <th scope="col" class="px-20 py-3 ">
            이론
            <div>
              <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="small-input"
                     class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </th>
          <th scope="col" class="px-20 py-3 flex flex-nowrap">
            실습
            <div>
              <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="small-input"
                     class="block w-full p-2 text-gray-900 border
                     border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500
                     dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                     dark:focus:border-blue-500">
            </div>
          </th>

        </tr>

        <tbody>
        <tr class="bg-white border-vc dark:bg-gray-800 dark:border-gray-700 ">

          <th scope="col" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white ">
            지시사항
            <div>

              <label for="small-input" class="block mb-4 text-sm font-medium text-white-900 dark:text-white"></label>
              <input type="text" id="small-input resize-y rounded-md"
                     class="block w-full p-20 text-gray-900
                     border border-gray-300 rounded-lg bg-gray-50
                     text-xs focus:ring-blue-800 focus:border-blue-500
                     dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white
                     dark:focus:ring-blue-500 dark:focus:border-blue-500">

            </div>
          </th>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="button-container1 flex items-stretch  py-3 ">
      <TwButton class="mr-2">수정하기</TwButton>
      <TwButton class="mr-2">삭제하기</TwButton>
    </div>


  </div>
</template>

<style scoped>

.button {
  margin-top: 50px;
}

.button-container1 {
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
  justify-content: center; /* 버튼을 오른쪽으로 정렬합니다. */
}


</style>
